<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="TeamLab.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <TeamLab.Properties.Settings>
            <setting name="Portal" serializeAs="String">
                <value />
            </setting>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="SavePassword" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectedProjectIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShowSeconds" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SelectedTask" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OnlyAcceptedTask" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainTaskProjectId" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="MainTaskTaskId" serializeAs="String">
                <value>-1</value>
            </setting>
        </TeamLab.Properties.Settings>
    </userSettings>
</configuration>
